.VIpgJd-ZVi9od-ORHb-OEVmcd {
    opacity: 0;
    pointer-events: none;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    opacity: 0;
    pointer-events: none;
}

.goog-te-banner-frame.skiptranslate,
.goog-logo-link,
.goog-te-gadget span {
    display: none !important;
}

body {
    top: 0px !important;
}

.goog-te-gadget {
    font-size: 0 !important;
}

#google_translate_element select {
    cursor: pointer;
}

.VIpgJd-yAWNEb-L7lbkb {
    display: none !important;
}

.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q{
    background: none !important;
    box-shadow: none !important;
}